@keyframes inexistent {
  0% {
    background-color: rgba(132, 0, 50, 0.5);
  }
  50% {
    transform: scale(0.65);
  }

  100% {
    background-color: var(--wrong-digit);
    opacity: 0.25;
    transform: scale(1);
  }
}

@keyframes correct {
  0% {
    background-color: rgba(132, 0, 50, 0.5);
  }
  50% {
    transform: scale(0.65);
  }

  100% {
    background-color: var(--right-color);
    transform: scale(1);
  }
}

.keyboard-area {
  margin-top: 15px;
}

.keyboard-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
}

.key {
  align-items: center;
  background-color: rgba(132, 0, 50, 0.5);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  margin: 2px 2px;
  text-transform: uppercase;
}

.inexistent-key {
  background-color: var(--wrong-digit);
  opacity: 0.45;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  animation-name: inexistent;
  animation-duration: 0.75s;
}

.correct-key {
  background-color: var(--right-color);
  box-shadow: 1px 1px 5px rgba(0, 166, 166, .5);
  animation-name: correct;
  animation-duration: 0.75s;
}

.wrong-place-key {
  background-color: var(--wrong-place);
  box-shadow: 1px 1px 5px rgba(229, 149, 0, .5);
  animation-name: correct;
  animation-duration: 0.75s;
}

.content {
  background-color: transparent;
  width: 55px;
  height: 55px;
  line-height: 3.5rem;
}

.backspace {
  background-color: transparent;
  width: 75px;
}

.enter {
  width: 85px;
}

@media (max-width: 600px) {
  .key {
    width: 35px;
    font-size: 0.75rem;
    margin: 0.5px 0.5px;
  }

  .enter {
    font-size: 0.6rem;
  }
}
