.modal-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-content, .modal-content-instructions {
  background: rgba(0, 0, 0, .75);
  height: 100%;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  min-width: 350px;
  text-align: center;
  z-index: 1000;
  border-radius: 15px;
  overflow-y: scroll visible;
}

.modal-title {
  color: white;
  font-size: 2rem;
}

.modal-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.modal-description {
  align-self: flex-start;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0 2.5rem;
  text-align: left;
}

.modal-close-button {
  font-size: 1.125rem;
  width: 150px;
  height: 35px;
  border-radius: 7px;
  color: var(--wrong-digit);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.modal-close-button:hover {
  color: white;
  background: var(--wine-background);
}

.horizontal-line-break {
  background: white;
  width: 90%;
  height: 1px;
}

.word-example {
  display: flex;
  gap: 1rem;
}

.letter-example {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(54, 69, 79, 0.25);
  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.letter1 {
  background-color: var(--right-color);
}

.letter2 {
  background-color: var(--wrong-digit);
}

.letter4 {
  background-color: var(--wrong-place);
}

@media (max-width: 650px) {
  .modal-title {
    text-align: center;
    font-size: 1.5rem;
  }

  .modal-subtitle {
    font-size: 1.125rem;
  }
}
