.nav-list {
  align-items: center;
  background-color: var(--wine-background);
  display: flex;
  justify-content: center;
  padding: 0.2rem 8rem;
}

.nav-item {
  background-color: var(--wine-background);
  cursor: pointer;
}

.logo {
  font-size: 2rem;
}

@media (max-width: 700px) {
  .nav-list {
    padding: 0.2rem 2rem;
    gap: 10px;
  }

  .logo {
    text-align: center;
    font-size: 1.8rem;
  }
}
